.connexionbouton button{
    background-color: #00AF65;
    padding: 20px 50px 60px 50px;
}

.connexionbouton button:hover{
    background-color: #02c975;
    padding: 25px 55px 65px 55px;
}

.envoi{
    text-align: center;
}

.envoi button {
    background-color: #00AF65;
}

.envoi button:hover {
    background-color: #02c975;
}

.connexion_modal{
    width: 500px;
}

.inscription{
    text-align: right;
}

.lien_inscription a{
    color: #00AF65;
    text-decoration: none;
}

.lien_inscription a:hover{
    color: #02c975;
    border-bottom: solid #02c975;
}