.connexionbouton button{
    background-color: #1d7d74;
    padding: 20px 50px 60px 50px;
    text-transform: inherit;
    font-weight: bold;
    font-size: x-large;
}

.connexionbouton button:hover{
    background-color: #00AF65;
    padding: 25px 55px 65px 55px;
    text-transform: inherit;
    font-weight: bolder;
}

.envoi{
    text-align: center;
}

.envoi button {
    background-color: #1d7d74;
}

.envoi button:hover {
    background-color: #00AF65;
}

.connexion_modal{
    width: 500px;
}

.inscription{
    text-align: right;
}

.lien_inscription a{
    color: #1d7d74;
    text-decoration: none;
}

.lien_inscription a:hover{
    color: #00AF65;
    border-bottom: solid #00AF65;
}
.lien_mdpOublie{
    text-align: right;
}

.lien_mdpOublie a{
    color: #1d7d74;
    text-decoration: none;
}

.lien_mdpOublie a:hover{
    color: #00AF65;
    border-bottom: solid #00AF65;
}