.border_button{
    background-color: black;
    border-radius: 100%;
    width: 210px;
    height: 193px;
    padding-top: 13px;
    margin: auto;
}

.border_button button{
    font-weight: bold;
    font-size: 40px;
}

.PanicBouton button{
    padding:70px;
    background-color: red;
    border-radius: 100%;
}

