.main_content{
    margin: auto;
    max-width: 1200px;
}

.accueil{
    text-align: center;
}

.header{
    width: 100%;
    height: 314px;
    background-color: darkslategrey;
    text-align: center;
}

.logoBanniereTartinette{
    display: grid;
    width: 400px;
    margin: auto;
}

h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}

.responsive-img{
    margin:auto;
    margin-top: 14px;
}

.tartinette{
    margin: auto;
    background-color: antiquewhite;
    border-radius: 50px;
    height: 72px;
    margin-top: 14px;
}

.ConnexionBouton{
    background-color: #65BB50;
    padding: 20px;
}

.PanicBouton{
    margin-top: 50px;
}

.accueilParagraphe1{
    border-bottom: solid;
    border-bottom-width: medium;
    border-color: gray;
    border-radius: 5px;
    padding-bottom: 40px;
}

.accueilParagraphe2{
    display: flex;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: medium;
    border-color: gray;
    border-radius: 5px;
}

.textInRed{
    color: #EB222E;
}

.iconeParagraphe{
    margin: 60px;
}

.accueilParagraphe3{
    width: 100%;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: medium;
    border-color: gray;
    border-radius: 5px;
}

.logo_ecole_saint_henri{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer{
    width: 100%;
    text-align: center;
    color: gray;
    margin-top: 40px;
    margin-bottom: 40px;
}

