.main_content{
    margin: auto;
    max-width: 1200px;
}

.accueil{
    text-align: center;
}

h2{
    font-size: 35px;
    padding-top: 20px;
}
.border_bottom .padding_bottom{
    margin: 0;
}

h3{
    font-size: 30px;
}

.responsive-img{
    margin:auto;
    margin-top: 14px;
}

.connexionbouton{
    padding: 20px;
    margin-bottom: 14px;
}

.border_bottom{
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: gray;
    border-radius: 5px;
    margin-bottom: 14px;
}
.margin_top{
    margin-top: 50px;
}

.accueilParagraphe1{
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: gray;
    border-radius: 5px;
    padding-bottom: 40px;
}

.accueilParagraphe2{
    display: flex;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: gray;
    border-radius: 5px;
}

.textInColor{
    /*color: #264B7D;*/
    color: #00AF65;
}

.iconeParagraphe{
    margin: 60px;
}

.accueilParagraphe3{
    width: 100%;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: gray;
    border-radius: 5px;
}

.contact Button{
    background-color: #1d7d74;
    padding: 20px 50px 60px 50px;
    text-transform: inherit;
    font-weight: bold;
    font-size: x-large;
}

.contact Button:hover{
    background-color: #00AF65;
}

.titreContact{
    color: #00AF65;
}

.contact{
    margin-top: 60px;
    padding-bottom: 40px;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: gray;
    border-radius: 5px;
}

.logo_ecole_saint_henri{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer{
    width: 100%;
    text-align: center;
    color: gray;
    margin-top: 40px;
    margin-bottom: 40px;
}

